@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*

{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}	

.contact
{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	
	flex-direction: column;
	background: url(1.jpg);

	background-size: cover;
}
.content .content
{
	max-width: 800px;
	
	text-align: center;
}

.contact .content h2
{
	
	font-weight: 500px;
	color: black;
}

.contact .content p
{
	/*font-size: 36px;*/
	margin-top: 45px;
	font-weight: 500px;
	color: black;	
}

.container1
{
	width: 100px;
	display: flex;
	
	margin-top: 70px;


}

.container1 .ContactInfo
{
	
	width: 50px;
	display: inline-block;
	margin-top: 200px;
	flex-direction: column;
	float:left;

}

.container1 .ContactInfo .box
{
	position: relative;
	padding: 20px 0px;
	width: 10px;
	height: 72px;
	float: left;

	display: inline;

}

.container1 .ContactInfo .box .icon
{
	
	min-width: 60px;
	height: 60px;
	background: #D3D3D3;
	
	margin-top: 200px;
	border-radius: 50%
	font-size: 22px;
	
}

.container1 .ContactInfo .box .text
{
	display: flex;
	margin-left: 20px;
	margin-top: 200px;
	font-size: 16px;
	color: black;
	flex-direction: column;
	font-weight: 300px;
	
}

.container1 .ContactInfo .box .text h3
{
	
	font-weight: 500px;
	margin-top: 200px;
	color: #00bcd4;
	
}

